# Игнорировать конкретные файлы в папке exe
/exe/audioserver.ilk
/exe/audioserver.pdb
/exe/controlserver.ilk
/exe/controlserver.pdb
/exe/dbserver.pdb
/exe/gameserver.exe
/exe/gameserver.ilk
/exe/gameserver.pdb
/exe/gateserver.pdb
/exe/loginserver.ilk
/exe/loginserver.pdb
/exe/masterserver.exe
/exe/masterserver.ilk
/exe/masterserver.pdb
/exe/vc100.idb
/exe/vc100.pdb
/exe/versionserver.pdb

# Игнорировать конкретные файлы в папке winproject
/winproject/.vs/
/winproject/.vs/winproject/
/winproject/.vs/winproject/v17/
/winproject/.vs/winproject/v17/Browse.VC.db
/winproject/audioserver/Debug/project.pb.obj
/winproject/controlserver/Debug/controlserver.pch
/winproject/controlserver/Debug/project.pb.obj
/winproject/dbserver/Debug/dbserver.pch
/winproject/dbserver/Debug/project.pb.obj
/winproject/gameserver/Debug/gameserver.pch
/winproject/gameserver/Debug/project.pb.obj
/winproject/gateserver/Debug/gateserver.pch
/winproject/gateserver/Debug/project.pb.obj
/winproject/ipch/
/winproject/masterserver/Debug/masterserver.pch
/winproject/masterserver/Debug/project.pb.obj
/winproject/versionserver/Debug/project.pb.obj
/winproject/winproject.sdf
mbgame_tss_sdk_init.log
exe/log
log
